body { background: #bbe8b3; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-payment-0 { color: #cd873d; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #a95947; font-size: 15px; margin-bottom: 5px; }
.block-email-2 { color: #73794f; font-size: 20px; margin-bottom: 5px; }
.block-token-3 { color: #5df7bf; font-size: 16px; margin-bottom: 5px; }
.block-token-4 { color: #f640f6; font-size: 16px; margin-bottom: 5px; }